<div class="center">
.center{
  width: 100%;
  height: 100%;
  display: flex-flex;flow: low nowrag;
  align-items: center;
  justify-content: center;
}
html body {
  margin:0;
  padding:0;
  height:100%;
}
.msg{
  font-size:64px;
}
