html, body {
  margin: 0;
  padding: 0;
}

.center {
  width:100%;
  height:100%;
  diaplay: flex;
  flex-flow: row nowrap;
  align-itens: center;
  justify-content: center;
}

.msg {
  font-size: 64px;
}

.center, img {
 display: block;
 width: 50%
}
